.hero-content {
  color: white;
  height: 30vh;
  width: 50%;
  /* border: 3px solid red; */
  margin-top: 4rem;
  backdrop-filter: blur(0px);
  margin-bottom: 3rem;
  border-radius: 10px;

}

.hero-title {
  font-size: 3.3em;
  font-weight: bold;
  height: 70px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  /* border: 3px solid blue; */
}

.hero-description {
  /* border: 3px solid blue; */
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.919);
  line-height: 1.5;
  margin-bottom: .5rem;
  height: 120px;
  overflow: hidden;
}


.hero-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2rem; /* This is what sets the font size */
  margin-bottom: 1.5rem;
  /* border: 3px solid green; */
}

.hero-info span {
    font-size: 1.3rem;
}

.genre {
  color: #1aff44;
}

.rating-label {
  color: rgb(255, 221, 28);
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  color: rgb(255, 223, 40);
}

.play-button {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  color: black;
  font-weight: 400;
  padding: .2rem .6rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-button:hover {
  background-color: #ff4757;
  color: white;
}













