.genres-container {
  color: white;
  padding: 6rem 0rem 0rem;
  min-height: 80vh;
  background-color: #121212;
}

.genres-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffcb6b;
}

.genres-container p {
  font-size: 1.2rem;
  color: #cccccc;
}
